[Desktop Entry]
Name=Dyna
Exec=/home/casaracing/PycharmProjects/Dyna/venv/bin/python /home/casaracing/PycharmProjects/Dyna/MainGUI.py
Terminal=true
Type=Application
Icon=/home/casaracing/PycharmProjects/Dyna/img/AnalogGaugeWidgetDemo.png
Name[es]=Dyna
